<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import DangerButton from '@/Components/DangerButton.vue';
import InputError from '@/Components/InputError.vue';
import InputLabel from '@/Components/InputLabel.vue';
import PrimaryButton from '@/Components/PrimaryButton.vue';
import TextInput from '@/Components/TextInput.vue';
import SelectInput from '@/Components/SelectInput.vue';
import WarninButton from '@/Components/WarningButton.vue';
import SecondaryButton from '@/Components/SecondaryButton.vue';
import Modal from '@/Components/Modal.vue';
import { Head, useForm } from '@inertiajs/vue3';
import Swal from 'sweetalert2';
import { Link } from '@inertiajs/vue3'
import {nextTick,ref} from 'vue';

import vueTailwindPagination from '@ocrv/vue-tailwind-pagination';

const nameInput = ref(null);
const modal =  ref(false);
const title = ref('');
const operation = ref(1);
const id = ref('');
const props = defineProps({
    employees: {type:Object},
    departments: {type:Object}
});

const form = useForm({
    name:'',email:'',phone:'',department_id:''
});
const formPage = useForm({});

const onPageClick = (event)=>{
    formPage.get(route('employees.index',{page:event}));
}

const openModal = (op,name,email,phone,department_id,employee)=>{
    modal.value= true;
    //console.log(op,name,email,phone,department_id,employee);
    //nextTick(()=>nameInput.value.focus());
    operation.value= op;
    id.value = employee;
    if(op == 1){
        title.value = 'Create Employee'
    }else{
        title.value = 'Edit Employee';
        form.name=name;
        form.email=email;
        form.phone=phone;
        form.department_id=department_id;
    }
}

const closeModal= ()=>{
    modal.value= false;
    form.reset();
}

const save = ()=>{
    if(operation.value==1){
        form.post(route('employees.store'),{
            onSuccess: ()=>{ok('Employee Created')}
        });
    }else{
        form.put(route('employees.update', id.value),{
            onSuccess: ()=>{ok('Employee Updated')}
        });
    }
}

const ok = (msg)=>{
    form.reset();
    closeModal();
    Swal.fire({
        title: msg,
        icon:'success'
    })
}

const deleteEmployee=(id,name)=>{
    const alerta = Swal.mixin({
        buttonsStyling: true
    });
    alerta.fire({
        title:'are you sure delete '+name +'?',
        icon:'question', showCancelButton:true,
        confirmButtonText:'<i class="fa-solid fa-check" ></i>Yes, Delete!!',
        cancelButtonText:'<i class="fa-solid fa-ban" ></i>Cancel!!'
    }).then((result)=>{
        if(result.isConfirmed){
            form.delete(route('employees.destroy',id),{onSuccess:()=>{
                ok('Employee Deleted')
            }});
        }
    });

}
</script>

<template>
    <Head title="Employeed" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Employeed</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white grid v-screen place-items-center">
                    <div class="mt-3 mb-3 flex">
                        <PrimaryButton @click="$Event=>openModal(1)">
                            <i class="fa-solid fa-plus-circle"></i>Add
                        </PrimaryButton>

                    </div>
                </div>
                <div class="bg-white grid v-screen place-items-center overflow-x-auto">
                    <table class="borde-auto border border-gray-400">
                        <thead>
                            <tr class="bg-gray-100">
                                <td class="px-2 py-2">#</td>
                                <td class="px-2 py-2">NAME</td>
                                <td class="px-2 py-2">EMAIL</td>
                                <td class="px-2 py-2">PHONE</td>
                                <td class="px-2 py-2">DEPARTMENT</td>
                                <td class="px-2 py-2"></td>
                                <td class="px-2 py-2"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="emp, i in employees.data" :key="emp.id">
                                <td class="borde border-gray-400 px-2 py-2"> {{ (i+1) }}</td>
                                <td class="borde border-gray-400 px-2 py-2"> {{ emp.name }}</td>
                                <td class="borde border-gray-400 px-2 py-2"> {{ emp.email }}</td>
                                <td class="borde border-gray-400 px-2 py-2"> {{ emp.phone }}</td>
                                <td class="borde border-gray-400 px-2 py-2"> {{ emp.department.name }}</td>
                                <td class="borde border-gray-400 px-2 py-2">
                                    <WarninButton @click="$event =>{openModal(2,emp.name,emp.email,emp.phone,emp.department_id,emp.id )} ">
                                    <i class="fa-solid fa-edit"></i>Edit

                                    </WarninButton>
                                </td>
                                <td class="borde border-gray-400 px-4 py-4">
                                    <DangerButton @click="$event=>deleteEmployee(emp.id,emp.name)">
                                    <i class="fa-solid fa-trash"></i>

                                    </DangerButton>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <div class="bg-white grid v-screen place-items-center overflow-x-auto">
                        <vueTailwindPagination
                            :current="employees.current_page "
                            :total="employees.total"
                            :perPage="employees.per_page"

                            @page-changed="$event=> onPageClick($event)" >

                            </vueTailwindPagination>
                    </div>
                </div>


            </div>
        </div>
        <Modal
        :show="modal" @close="closeModal"
        >
        <h2 class="p-3 text-lg font-medium text-hray-900">{{ title }}</h2>
        <div class="p-3" >
        <InputLabel value="Name:"></InputLabel>
        <TextInput
        v-model="form.name" type="text" class="mt-1 block w-3/4"
        placeholder="Name" ref="nameInput"></TextInput>
        <InputError :message="form.errors.name" class="mt-2"></InputError>
    </div>

    <div class="p-3" >
        <InputLabel value="Email:"></InputLabel>
        <TextInput
        v-model="form.email" type="text" class="mt-1 block w-3/4"
        placeholder="Email" ></TextInput>
        <InputError :message="form.errors.email" class="mt-2"></InputError>
    </div>

    <div class="p-3" >
        <InputLabel value="Phone:"></InputLabel>
        <TextInput
        v-model="form.phone" type="text" class="mt-1 block w-3/4"
        placeholder="Phone" ></TextInput>
        <InputError :message="form.errors.phone" class="mt-2"></InputError>
    </div>

    <div class="p-3" >
        <InputLabel value="Department:"></InputLabel>
        <SelectInput
        v-model="form.department_id"
        :options="departments" type="text" class="mt-1 block w-3/4"
        placeholder="Department" ></SelectInput>
        <InputError :message="form.errors.department_id" class="mt-2"></InputError>
    </div>
    <div class="p-3 mt-6">
        <PrimaryButton :disable="form.processing" @click="save" >
        <i class="fa-solid fa-save"></i></PrimaryButton>Save
    </div>
    <div class="p-3 mt-6 flex justify-end">
        <SecondaryButton class="ml-3" :disable="form.processing"
        @click="closeModal">Cancel</SecondaryButton>
    </div>

        </Modal>
    </AuthenticatedLayout>
</template>
