<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import DangerButton from '@/Components/DangerButton.vue';
import { Head, useForm } from '@inertiajs/vue3';
import Swal from 'sweetalert2';
import { Link } from '@inertiajs/vue3'

const props = defineProps({
    departments: {type:Object}
});

const form = useForm({
    id:''
});
const deleteDepartment=(id,name)=>{
    const alerta = Swal.mixin({
        buttonsStyling: true
    });
    alerta.fire({
        title:'are you sure delete '+name +'?',
        icon:'question', showCancelButton:true,
        confirmButtonText:'<i class="fa-solid fa-check" ></i>Yes, Delete!!',
        cancelButtonText:'<i class="fa-solid fa-ban" ></i>Cancel!!'
    }).then((result)=>{
        if(result.isConfirmed){
            form.delete(route('departments.destroy',id));
        }
    });

}
</script>

<template>
    <Head title="Departments" />

    <AuthenticatedLayout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">Departments</h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="bg-white grid v-screen place-items-center">
                    <div class="mt-3 mb-3 flex">
                        <Link rel="stylesheet" :href="route('departments.create')"
                        :class="'px-4 py-2 bg-gray-800 text-white border rounded-md font-semibold text-xs'">
                        <i class="fa-solid fa-plus-circle"></i> Add
                        </Link>

                    </div>
                </div>
                <div class="bg-white grid v-screen place-items-center">
                    <table class="borde-auto border border-gray-400">
                        <thead>
                            <tr class="bg-gray-100">
                                <td class="px-4 py-4">#</td>
                                <td class="px-4 py-4">Departments</td>
                                <td class="px-4 py-4"></td>
                                <td class="px-4 py-4"></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="dep, i in departments" :key="dep.id">
                                <td class="borde border-gray-400 px-4 py-4"> {{ (i+1) }}</td>
                                <td class="borde border-gray-400 px-4 py-4"> {{ dep.name }}</td>
                                <td class="borde border-gray-400 px-4 py-4">
                                    <Link rel="stylesheet" :href="route('departments.edit',dep.id)"
                                    :class="'px-4 py-2 bg-yellow-400 text-white border rounded-md font-semibold text-xs'">
                                    <i class="fa-solid fa-edit"></i>
                                    </Link>
                                </td>
                                <td class="borde border-gray-400 px-4 py-4">
                                    <DangerButton @click="$Event=>deleteDepartment(dep.id,dep.name)">
                                    <i class="fa-solid fa-trash"></i>

                                    </DangerButton>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </AuthenticatedLayout>
</template>
